@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
*,
*:after,
*:before {
	box-sizing: border-box;
}

header.index {
	background-image: url(../img/guitar.jpg);
	background-position: left;
	padding-bottom: 0.5em;
	margin-bottom: 1.7em;
}
.soundboard {
	font-size: 3em;
}

main {
	-webkit-box-align: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 55vh;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
}
h1.noresultstitle {
	color: #e7ebf2;
	font-size: 12.5rem;
	letter-spacing: 0.1em;
	margin: 0.025em 0;
	text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
}
@media (max-width: 30rem) {
	h1.noresultstitle {
		font-size: 8.5rem;
	}
}
h1.noresultstitle > span {
	-webkit-animation: spooky 2s alternate infinite linear;
	animation: spooky 2s alternate infinite linear;
	color: #e7ebf2;
	display: inline-block;
	padding-right: 0.1em;
	padding-bottom: 0.1em;
}

h2.noresultssubtitle {
	color: #e7ebf2;
	margin-bottom: 0.4em;
}

p.noresultstext {
	color: #ccc;
	margin-top: 0;
}

.fas.fa-music {
	font-size: 0.5em;
	padding: 0.2em;
	padding-bottom: 0.3em;
	border: 0.1em solid #e7ebf2;
	border-radius: 1em;
}

@-webkit-keyframes spooky {
	from {
		-webkit-transform: translatey(0.15em) scaley(0.95);
		transform: translatey(0.15em) scaley(0.95);
	}
	to {
		-webkit-transform: translatey(-0.15em);
		transform: translatey(-0.15em);
	}
}

@keyframes spooky {
	from {
		-webkit-transform: translatey(0.1em) scaley(0.95);
		transform: translatey(0.1em) scaley(0.95);
	}
	to {
		-webkit-transform: translatey(-0.1em);
		transform: translatey(-0.4em);
	}
}

.pg404fr {
	opacity: 1;
}
.pg404fr:hover {
	opacity: 0.9;
}

.pg404 {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 3em;
	margin-top: 1em;
}
.w404 {
	--c: white;
	color: var(--c);
	background-image: url(../img/earth-1365995_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	line-height: 3;
	border: 0.3em solid black;
}

.w404:hover {
	color: black;
	border: 0.3em solid black;
}

.fr404 {
	--c: white;
	color: black;
	background-image: url(../img/france-flag-1058699_petit.jpg);
	background-size: cover;
	background-position: center;
	line-height: 3;
	font-size: 20px;
	font-weight: 900;
	border: 0.3em solid black;
}

.fr404:hover {
	color: rgb(173, 2, 2);
	border: 0.3em solid rgb(0, 47, 141);
	line-height: 3;
}

.wtc404 {
	--c: white;
	color: var(--c);
	background-image: url(../img/wtc.png);
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 3;
	border: 0.3em solid black;
	padding-top: 1em;
}

#wtc {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.wtc404:hover {
	color: black;
	background-color: black;
	border: 0.3em solid black;
}

.wtc404:hover #wtc {
	visibility: visible;
	opacity: 1;
}

.mv404 {
	--c: white;
	color: var(--c);
	background-image: url(../img/mistermv.png);
	background-color: black;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 3;
	border: 0.3em solid black;
	padding-top: 1em;
}

#mv {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.mv404:hover {
	color: black;
	background-color: black;
	border: 0.3em solid black;
}

.mv404:hover #mv {
	visibility: visible;
	opacity: 1;
	background-position: center;
}

.jd404 {
	--c: black;
	color: var(--c);
	background-image: url(../img/jday.png);
	background-color: gainsboro;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 13;
	border: 0.3em solid gainsboro;
	padding-top: 1em;
}

#jd {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.jd404:hover {
	color: gainsboro;
	background-color: gainsboro;
	border: 0.3em solid gainsboro;
}

.jd404:hover #jd {
	visibility: visible;
	opacity: 1;
	background-position: center;
}

.inc404 {
	--c: #ca283f;
	color: var(--c);
	background-image: url(../img/inconnus.png);
	background-color: seashell;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 13;
	border: 0.3em solid seashell;
	padding-top: 1em;
}

#inc {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.inc404:hover {
	color: seashell;
	background-color: seashell;
	border: 0.3em solid seashell;
}

.inc404:hover #inc {
	visibility: visible;
	opacity: 1;
	background-position: center;
}

#btn1strow {
	padding-top: 1em;
}

.noresults {
	margin-top: 1.5em;
	background-image: linear-gradient(
			to bottom,
			rgba(245, 246, 252, 0.4),
			rgba(0, 0, 0, 0.73)
		),
		url(../img/the-road-815297_1920.jpg);
	background-position: center;
}
