/* ############################################### INDEX ############################################### */

header.index {
	background-image: url(../img/guitar.jpg);
	background-position: left;
	padding-bottom: 0.2em;

	margin-bottom: 1.7em;
	text-align: center;
}
.soundboard {
	font-size: 4em;
	padding-top: 0.2em;
}

/* BUTTONS */

/*box contenant btn fr & world */

.btnsbox {
	margin-top: 6em;
}

#btn1strow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 2%;
	margin-bottom: 4%;
}

h1 {
	position: relative;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: calc(4px + 4vw);
	font-weight: 700;
	color: #f5f5f5;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	perspective: 500px;
}

h1::before,
h1::after {
	content: attr(aria-label);
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
}

h1::before {
	animation: floatAbove 3.5s ease-in-out infinite;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

h1::after {
	opacity: 0.6;
	filter: blur(0.02em);
	transform: translate(-50%, -50%) rotateX(21deg);
	animation: floatBelow 3.5s ease-in-out infinite;
	-webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

/* ###################################### BUTTONS ###################################### */

/* INDEX */

.windex {
	--c: transparent;
	color: white;
	background-image: url(../img/international-space-station-1176518_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -1vh;
	height: 10em;
	line-height: 10;
}

.windex:hover {
	color: black;
	background-image: url(../img/hong-kong-1990268_19201277.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.frindex {
	--c: transparent;
	color: black;
	background-image: url(../img/banner-2024782_6402.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 10em;
	font-weight: 900;
}

.frindex:hover {
	background-image: url(../img/eiffel-tower-3349075_640.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
}

.frindex h1 {
	color: silver;
}
.frindex:hover h1 {
	color: white;
}

.wtcindex {
	--c: white;
	color: var(--c);
	background-image: url(../img/wtc.png);
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 10em;
	line-height: 10;
	border: 0.3em solid black;
}

.wtcindex:hover {
	color: black;
	background-color: black;
	border: 0.3em solid black;
}

.mvindex {
	--c: white;
	color: var(--c);
	background-image: url(../img/mistermv.png);
	background-color: black;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 10em;
	line-height: 10;
	border: 0.3em solid black;
}

.mvindex:hover {
	color: black;
	background-color: black;
	border: 0.3em solid black;
}

.jdindex {
	--c: black;
	color: var(--c);
	background-image: url(../img/jday.png);
	background-color: gainsboro;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 10em;
	line-height: 10;
	border: 0.3em solid gainsboro;
}

.jdindex:hover {
	color: gainsboro;
	background-color: gainsboro;
	border: 0.3em solid gainsboro;
}

.incindex {
	background-image: url(../img/inconnuslogo.png);
	background-color: white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 10em;
	line-height: 10;
}

.incindex:hover {
	color: seashell;
	background-image: url(../img/inconnusshort.png);
	background-size: cover;
}

.wtcindex h1 {
	display: none;
}

.wtcindex:hover h1 {
	display: block;
	font-size: calc(2px + 2vw);
	color: black;
}

.mvindex h1 {
	display: none;
}

.mvindex:hover h1 {
	display: block;
	font-size: calc(2px + 2vw);
	color: black;
}

.jdindex h1 {
	display: none;
}

.jdindex:hover h1 {
	display: block;
	font-size: calc(2px + 2vw);
	color: white;
}

.incindex h1 {
	display: none;
}

.incindex:hover h1 {
	display: block;
	font-size: calc(2px + 2vw);
	color: white;
}

@keyframes floatAbove {
	50% {
		transform: translate(-50%, -60%);
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
	}
}

@keyframes floatBelow {
	50% {
		transform: translate(-50%, -60%) rotateX(10deg);
		-webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
	}
}

/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
	header.index {
		padding-bottom: 0.5em;
	}
	.soundboard {
		font-size: 2em;
	}

	.btnsbox {
		margin-top: 2em;
	}
	#btn1strow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 2%;
		margin-bottom: 4%;
	}

	.frindex {
		--c: transparent;
		color: black;
		background-image: url(../img/banner-2024782_6402.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		height: 8em;
		font-weight: 900;
		margin-bottom: 1em;
	}
	.frindex:hover {
		background-image: url(../img/eiffel-tower-3349075_640.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: black;
	}

	.frindex h1 {
		color: silver;
		font-size: 3rem;
	}
	.frindex:hover h1 {
		color: white;
	}
	.windex {
		--c: transparent;
		color: white;
		background-image: url(../img/international-space-station-1176518_1920.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		font-weight: 900;
		height: 8em;
		line-height: 10;
		margin-bottom: 1em;
	}

	.windex:hover {
		color: black;
		background-image: url(../img/hong-kong-1990268_19201277.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.windex h1 {
		font-size: 3rem;
	}

	.wtcindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/wtc.png);
		background-color: black;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		line-height: 10;
		height: 8em;
		border: 0.3em solid black;
	}

	.wtcindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.mvindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/mistermv.png);
		background-color: black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		line-height: 10;
		margin-bottom: 1em;
		border: 0.3em solid black;
	}

	.mvindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.jdindex {
		--c: black;
		color: var(--c);
		background-image: url(../img/jday.png);
		background-color: gainsboro;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		line-height: 10;
		margin-bottom: 1em;
		border: 0.3em solid gainsboro;
	}

	.jdindex:hover {
		color: gainsboro;
		background-color: gainsboro;
		border: 0.3em solid gainsboro;
	}

	.incindex {
		background-image: url(../img/inconnus.png);
		background-color: white;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		margin-bottom: 1em;
		line-height: 10;
	}

	.incindex:hover {
		color: white;
		background-image: url(../img/inconnusshort.png);
		background-size: cover;
	}

	.wtcindex h1 {
		display: none;
	}

	.wtcindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.mvindex h1 {
		display: none;
	}

	.mvindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.jdindex h1 {
		display: none;
	}

	.jdindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}

	.incindex h1 {
		display: none;
	}

	.incindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	header.index {
		padding-bottom: 0.5em;
	}
	.soundboard {
		font-size: 2em;
	}

	.btnsbox {
		margin-top: 2em;
	}
	#btn1strow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	header.index {
		padding-bottom: 0.5em;
	}
	.soundboard {
		font-size: 2em;
	}

	.btnsbox {
		margin-top: 2em;
	}
	#btn1strow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 2%;
		margin-bottom: 4%;
	}

	.frindex {
		--c: transparent;
		color: black;
		background-image: url(../img/banner-2024782_6402.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		height: 7em;
		/* margin-left: 1em; */
		font-weight: 900;
		margin-bottom: 0em;
		margin-bottom: 1em;
	}
	.frindex:hover {
		background-image: url(../img/eiffel-tower-3349075_640.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: black;
	}

	.frindex h1 {
		color: silver;
		font-size: 4rem;
	}
	.frindex:hover h1 {
		color: white;
	}
	.windex {
		--c: transparent;
		color: white;
		background-image: url(../img/international-space-station-1176518_1920.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		font-weight: 900;
		height: 8em;
		/* margin-left: 1em; */
		line-height: 10;
		margin-bottom: 1em;
	}

	.windex:hover {
		color: black;
		background-image: url(../img/hong-kong-1990268_19201277.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.windex h1 {
		font-size: 4rem;
	}

	.wtcindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/wtc.png);
		background-color: black;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		line-height: 10;
		height: 8em;
		/* margin-left: 1em; */
		border: 0.3em solid black;
	}

	.wtcindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.mvindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/mistermv.png);
		background-color: black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		line-height: 10;
		margin-bottom: 1em;
		border: 0.3em solid black;
	}

	.mvindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.jdindex {
		--c: black;
		color: var(--c);
		background-image: url(../img/jday.png);
		background-color: gainsboro;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		line-height: 10;
		margin-bottom: 1em;
		border: 0.3em solid gainsboro;
	}

	.jdindex:hover {
		color: gainsboro;
		background-color: gainsboro;
		border: 0.3em solid gainsboro;
	}

	.incindex {
		background-image: url(../img/inconnus.png);
		background-color: white;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		margin-bottom: 1em;
		line-height: 10;
	}

	.incindex:hover {
		color: white;
		background-image: url(../img/inconnusshort.png);
		background-size: cover;
	}

	.wtcindex h1 {
		display: none;
	}

	.wtcindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.mvindex h1 {
		display: none;
	}

	.mvindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.jdindex h1 {
		display: none;
	}

	.jdindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}

	.incindex h1 {
		display: none;
	}

	.incindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	header.index {
		padding-bottom: 0.5em;
	}
	.soundboard {
		font-size: 2em;
	}

	.btnsbox {
		margin-top: 2em;
	}
	#btn1strow {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		margin-top: 2%;
		margin-bottom: 4%;
	}

	.frindex {
		--c: transparent;
		color: black;
		background-image: url(../img/banner-2024782_6402.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		height: 8em;
		width: 500%;
		font-weight: 900;
		margin-bottom: 0em;
		margin-bottom: 1em;
	}
	.frindex:hover {
		background-image: url(../img/eiffel-tower-3349075_640.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: black;
	}

	.frindex h1 {
		color: silver;
		font-size: 5rem;
		letter-spacing: 1rem;
	}
	.frindex:hover h1 {
		color: white;
	}
	.windex {
		--c: transparent;
		color: white;
		background-image: url(../img/international-space-station-1176518_1920.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		font-weight: 900;
		height: 8em;
		width: 500%;
		line-height: 10;
		margin-bottom: 1em;
	}

	.windex:hover {
		color: black;
		background-image: url(../img/hong-kong-1990268_19201277.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.windex h1 {
		font-size: 5rem;
		letter-spacing: 1rem;
	}

	.wtcindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/wtc.png);
		background-color: black;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		line-height: 10;
		height: 8em;
		width: 500%;
		border: 0.3em solid black;
	}

	.wtcindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.mvindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/mistermv.png);
		background-color: black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		line-height: 10;
		width: 500%;
		margin-bottom: 1em;
		border: 0.3em solid black;
	}

	.mvindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.jdindex {
		--c: black;
		color: var(--c);
		background-image: url(../img/jday.png);
		background-color: gainsboro;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		width: 500%;
		line-height: 10;
		margin-bottom: 1em;
		border: 0.3em solid gainsboro;
	}

	.jdindex:hover {
		color: gainsboro;
		background-color: gainsboro;
		border: 0.3em solid gainsboro;
	}

	.incindex {
		background-image: url(../img/inconnus.png);
		background-color: white;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 8em;
		width: 500%;
		margin-bottom: 1em;
		line-height: 10;
	}

	.incindex:hover {
		color: white;
		background-image: url(../img/inconnusshort.png);
		background-size: cover;
	}

	.wtcindex h1 {
		display: none;
	}

	.wtcindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.mvindex h1 {
		display: none;
	}

	.mvindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.jdindex h1 {
		display: none;
	}

	.jdindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}

	.incindex h1 {
		display: none;
	}

	.incindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	header.index {
		padding-bottom: 1em;
	}
	.soundboard {
		font-size: 5em;
	}

	.btnsbox {
		margin-top: 10%;
	}
	#btn1strow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 2%;
		margin-bottom: 4%;
	}

	.frindex {
		--c: transparent;
		color: black;
		background-image: url(../img/banner-2024782_6402.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		height: 10em;
		font-weight: 900;
		margin-bottom: 1em;
	}
	.frindex:hover {
		background-image: url(../img/eiffel-tower-3349075_640.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: black;
	}

	.frindex h1 {
		color: silver;
		font-size: 3rem;
	}
	.frindex:hover h1 {
		color: white;
	}
	.windex {
		--c: transparent;
		color: white;
		background-image: url(../img/international-space-station-1176518_1920.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 0.5em;
		font-weight: 900;
		height: 9em;
		line-height: 10;
		margin-bottom: 1em;
	}

	.windex:hover {
		color: black;
		background-image: url(../img/hong-kong-1990268_19201277.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.windex h1 {
		font-size: 3rem;
	}

	.wtcindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/wtc.png);
		background-color: black;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		line-height: 10;
		height: 9em;
		border: 0.3em solid black;
	}

	.wtcindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.mvindex {
		--c: white;
		color: var(--c);
		background-image: url(../img/mistermv.png);
		background-color: black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 9em;
		line-height: 10;

		margin-bottom: 1em;
		border: 0.3em solid black;
	}

	.mvindex:hover {
		color: black;
		background-color: black;
		border: 0.3em solid black;
	}

	.jdindex {
		--c: black;
		color: var(--c);
		background-image: url(../img/jday.png);
		background-color: gainsboro;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 9em;

		line-height: 10;
		margin-bottom: 1em;
		border: 0.3em solid gainsboro;
	}

	.jdindex:hover {
		color: gainsboro;
		background-color: gainsboro;
		border: 0.3em solid gainsboro;
	}

	.incindex {
		background-image: url(../img/inconnus.png);
		background-color: white;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 9em;
		margin-bottom: 1em;
		line-height: 10;
	}

	.incindex:hover {
		color: white;
		background-image: url(../img/inconnusshort.png);
		background-size: cover;
	}

	.wtcindex h1 {
		display: none;
	}

	.wtcindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.mvindex h1 {
		display: none;
	}

	.mvindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: black;
	}

	.jdindex h1 {
		display: none;
	}

	.jdindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}

	.incindex h1 {
		display: none;
	}

	.incindex:hover h1 {
		display: block;
		font-size: calc(2px + 2vw);
		color: white;
	}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
