/* ############################################### GLOBAUX ############################################### */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/audience-1853662_1920.jpg);
}

/* liens */

a {
	color: white;
}

a:hover {
	color: seashell;
}

a:hover,
a#top:hover {
	text-decoration: none;
}

/* titre de page */

.pgtitle {
	margin-bottom: 1.5em;
}

#top,
.sndtitle,
.sndquery {
	color: lightgrey;
	letter-spacing: 0.1em;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
		0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
		0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
		0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
		0 22px 30px rgba(0, 0, 0, 0.9);
	text-transform: uppercase;
	text-align: center;
}

.col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*article*/

.sounds {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

footer {
	text-align: center;
	font-size: 40px;
	color: white;
	display: flex;
	justify-content: space-around;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 72px;
	text-transform: uppercase;
	padding: 1%;
}

/*bouton back to top recherche */

#myBtnfr2top {
	background-color: crimson; /* Set a background color */
	font-size: 29px; /* Increase font size */
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 8px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-weight: 900;
}

#myBtnfr2top:hover {
	background-color: darkred; /* Add a dark-grey background on hover */
}

#btntop {
	text-align: right;
	margin-top: 2%;
	margin-bottom: 2%;
	align-self: stretch;
}

/* search title wtc inc jd & mv */

.wpad {
	padding-bottom: 0.2em;
}

/*pagination noire */

.ad {
	background-color: black;
	color: white;
}

/*pagination*/

.ad,
.page-link {
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.page-link:hover,
.page-link.ad:hover {
	border-radius: 5px;
}

.page-link.ad:hover {
	background-color: white;
	color: black;
}

/*fin pagination*/

/*barre de recherche*/

#searchbox2 {
	padding-bottom: 1%;
	text-align: center;
}

#nosearch {
	background-image: url(../img/the-road-815297_1920.jpg);
	background-position: center;
}
#noresults {
	font-size: 5em;
	line-height: 5;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin-top: 0.5em;
}

#nopage {
	font-size: 5em;
	line-height: 3;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin-top: 0.2em;
}
/*buttons retour accueil et page prec*/

.returnhg,
.returnhb,
.returnjd,
.returninc,
.returnfr {
	margin-top: 2%;
	margin-bottom: 3%;
}

.returnhg:hover {
	background-color: darkgreen;
	border-color: darkgreen;
}

.returnhb:hover {
	background-color: black;
	border-color: black;
}

.returnfr:hover {
	background-color: darkblue;
	border-color: darkblue;
}

/*img sound*/

.imgsnd {
	text-align: center;
}

.imgsnd img {
	cursor: pointer;
}

/* ############################################### INDEX ############################################### */

header.index {
	background-image: url(../img/guitar.jpg);
	background-position: left;
	padding-bottom: 0.5em;
	margin-bottom: 1.7em;
}
.soundboard {
	font-size: 3em;
}

/*alertes gestion sons*/

.alert {
	text-align: center;
	line-height: 1.5;
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	color: white;
}

.alert-danger {
	background-color: darkred;
}

.alert-success {
	background-color: darkgreen;
}

#navbox {
	display: flex;
	justify-content: space-around;
}

.gestsnd {
	justify-content: space-around;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* ajouter un son*/

.btnsnd {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 800;
	line-height: 48px;
	text-transform: uppercase;
}

/* BUTTONS */

/*box contenant btn fr & world */

#searchworld {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-bottom: 2%;
}

.butcons {
	border: none;
	outline: none;
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	border-radius: 5px; /* Rounded corners */
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

#frbutton {
	background-image: url(../img/banfrance.jpg);
	background-position: center;
	color: black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-size: cover;
}

#myBtnWorld {
	background-image: url(../img/earth-1149733_1920.jpg);
	background-position: center;
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#myBtnWorld,
#frbutton,
#myBtnW {
	font-size: 3.5em; /* Increase font size */
	line-height: 1.5;
	margin-bottom: 0.2em;
	margin-top: 2%;
	margin-right: 3%;
	margin-left: 3%;
	padding-left: 0.8em;
	padding-right: 0.8em;
	text-align: center;
}

/* petits buttons */

#smallbuttons {
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2%;
}

#myBtnWTC {
	background-image: url(../img/WTC.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	max-height: 100%;
	padding-right: 4em;
	font-size: 4em;
	padding-bottom: 25%;
}

#myBtnJDay {
	background-image: url(../img/misterjday.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 1.35em;
	font-size: 6em;
	padding-bottom: 8%;
}

#myBtninc {
	background-image: url(../img/inconnus.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 2em;
	font-size: 6em;
	padding-bottom: 8%;
}

#myBtnMV {
	background-image: url(../img/mistermv.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-right: 2em;
	font-size: 6em;
	padding-bottom: 8%;
}

/* ############################################### SOUNDFR ############################################### */

.srcvid {
	color: black;
}
.srcvid:hover {
	color: darkslategrey;
	text-decoration: underline;
}

#sndname {
	justify-content: center;
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 1em;
}

#sndfr,
#searchfr {
	background-image: url(../img/france-flag-1058699_1280.jpg);
	background-position: center;
}

.sndbox {
	margin: 1em;
	border-radius: 1em;
	border: solid black;
	background: linear-gradient(
		90deg,
		rgb(0, 47, 141) 0%,
		rgb(255, 255, 255) 50%,
		rgb(173, 2, 2) 100%
	);
}
/* ############################################### SOUNDWORLD ############################################### */

.world {
	background-image: url(../img/Collection-national-flags.png);
	background-position: right;
}

.srcvidw {
	color: white;
}

.srcvidw:hover {
	color: lightgrey;
	text-decoration: underline;
}

#sndw {
	background-image: url(../img/Collection-national-flags.png);
	background-position: bottom left;
	font-size: 3.5em;
}

#sndnamew {
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 1em;
}

.sndboxw {
	margin: 1em;
	border-radius: 1em;
	border: solid black;
	background-image: url(../img/earth-1365995_19204545.jpg);
	background-position: right;
}

/* ############################################### WTC ############################################### */
.wtc {
	background-image: url(../img/wtcban.jpg);
	margin: 1em;
	border-radius: 1.5em;
	border: solid black;
}

.sndwtc {
	background-image: url(../img/guitar.jpg);
	background-position: left;
}

.sndwtcimg {
	background-color: black;
	border-bottom: solid white;
}

/* ############################################### JDAY ############################################### */

.jday {
	background: linear-gradient(90deg, lightgrey 0%, white 50%, lightgrey 100%);
}

.searchtitle {
	font-weight: 800;
	line-height: 1.5;
	font-size: 1.5em;
}

.sndtitlejd {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: 'Raleway', sans-serif;
}
.sndboxjday {
	margin: 1em;
	border-radius: 1em;
	border: solid black;
	background: linear-gradient(90deg, lightgrey 0%, white 50%, lightgrey 100%);
}

#sndnamejd {
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(90deg, lightgrey 0%, white 50%, lightgrey 100%);
	color: black;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 1em;
}
.srcvidmv,
.srcvidjday {
	color: black;
}
.srcvidmv:hover,
.srcvidjday:hover {
	color: darkslategrey;
	text-decoration: underline;
}

/* ############################################### INCONNUS ############################################### */

.inconnus {
	background-color: white;
	border-bottom: solid #ca283f;
}

#sndinc {
	background-color: white;
}
.sndboxinc {
	margin: 1em;
	border-radius: 1em;
	border: solid #ca283f;
	background-color: white;
}

.searchtitleinc {
	color: #ca283f;
	font-weight: 800;
	line-height: 1.5;
	font-size: 1.5em;
}

.returninc {
	color: #ca283f;
}

.returninc:hover {
	color: #b22222;
}

.srcvidinc {
	color: #ca283f;
}
.srcvidinc:hover {
	color: #f56991;
	text-decoration: underline;
}
/* ############################################### MISTERMV ############################################### */

.mv {
	background-color: black;
	border-bottom: solid white;
}

#sndmv {
	border-bottom: solid white;
	background-color: black;
}

#searchmv {
	background-image: url(../img/guitar.jpg);
	background-position: left;
	padding-bottom: 0.2em;
}
.jday {
	background: linear-gradient(90deg, lightgrey 0%, white 50%, lightgrey 100%);
}

.searchtitlemv {
	color: white;
	font-weight: 800;
	line-height: 1.5;
	font-size: 1.5em;
}

.sndtitlejd {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: 'Raleway', sans-serif;
}

.sndboxmv {
	margin: 1em;
	border-radius: 1em;
	border: solid white;
	background-color: black;
}

#sndnamemv {
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	background: white;
	color: black;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 1em;
}

#nopagemv {
	font-size: 5em;
	line-height: 2.9;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin-top: 0.2em;
}
