body {
	background-image: url(../img/noelvisspk.jpg);
	background-position: center;
}

a#top:hover {
	text-decoration: none;
}

header h1 {
	font-size: 80px;
	color: white;
	padding-bottom: 1%;
	font-weight: 600;
}
header {
	background-image: url(../img/guitar.jpg);
	background-position: left;
	margin-bottom: 2%;
}

#top,
.sndtitle {
	color: lightgrey;
	letter-spacing: 0.1em;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
		0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
		0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
		0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
		0 22px 30px rgba(0, 0, 0, 0.9);
	color: lightgrey;
	text-transform: uppercase;
	text-align: center;
}

#navbox {
	display: flex;
	flex-direction: row;
}

.sndtitle {
	font-size: 60px;
	border-radius: 20px 20px 0px 0px;
	border-bottom: solid black;
}

#sndfr {
	background-image: url(../img/french-flag-2695008_1920.jpg);
	background-position: center;
}

#sndw {
	background-image: url(../img/earth-1149733_1920.jpg);
	background-position: center;
}

/*nav*/
.gestsnd {
	padding-top: 0.9em;
	border: black solid;
	border-radius: 1.5em;
	margin-bottom: 24px;
	margin-left: 4%;
	background-image: url(../img/audience-1850119_1920.jpg);
	background-position: center;
}
#get2sw {
	background-color: burlywood;
	border-radius: 1.5em;
	border: solid black;
	text-align: center;
	margin-left: 2%;
}
.btn-lg {
	margin-bottom: 0.5em;
}

.btnsnd {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 800;
	line-height: 48px;
	text-transform: uppercase;
}

.col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

article {
	background-image: url(../img/audience-1853662_1920.jpg);
	border-radius: 1.5em;
	margin: 1em;
	border: solid black;
}

#sndname {
	justify-content: center;
	background-color: rgb(236, 214, 184);
	border-radius: 4px 4px 0px 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
}

#sndbox {
	margin: 0.5%;
	border-radius: 5px;
	border: solid black;
	background-color: rgb(236, 214, 184);
}

#contsndbox {
	padding: 0.5%;
	border-radius: 5px;
	border: solid black;
	background-image: url(../img/wood-2679551_1920.jpg);
	background-position: center;
	margin-bottom: 2%;
}

footer {
	text-align: center;
	font-size: 40px;
	color: white;
	display: flex;
	justify-content: space-around;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 72px;
	text-transform: uppercase;
	padding: 1%;
}

#myBtn,
#myBtn2,
#myBtnfr2top {
	border: solid black;
	outline: none;
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	border-radius: 10px; /* Rounded corners */
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

#myBtn {
	background-color: crimson; /* Set a background color */
	font-size: 20px; /* Increase font size */
}

#myBtn:hover,
#myBtnfr2top:hover {
	background-color: darkred; /* Add a dark-grey background on hover */
}

#myBtn2 {
	background-image: url(../img/earth-1365995_19204545.jpg);
	background-position: right;
	font-size: 2em; /* Increase font size */
	line-height: 3;
	margin-bottom: 2%;
	margin-top: 4%;
	margin-right: 4%;
	text-align: center;
}

#myBtn2 a {
	color: white;
}

#searchbox {
	padding-right: 20%;
}

#searchbox2 {
	padding-bottom: 1%;
}

#searchnworld {
	padding-top: 1%;
	margin-left: 3%;
}

.results {
	text-align: center;
	margin-bottom: 2%;
}

.returnh {
	color: white;
	font-size: 1.5em;
	background-color: red;
	border: solid black;
	border-radius: 1vw;
	padding: 1%;
	text-transform: uppercase;
	font-weight: bold;
}

.returnh:hover {
	color: lightgoldenrodyellow;
	background-color: darkred;
}

#noresults {
	background-image: url(../img/the-road-815297_1920.jpg);
	background-position: center;
	font-size: 5em;
	line-height: 4;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin-left: 1%;
	margin-right: 10%;
	margin-top: 2%;
}

#myBtnfr2top {
	background-color: crimson; /* Set a background color */
	font-size: 29px; /* Increase font size */
	padding: 0.5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#btnfr {
	text-align: right;
	margin-top: 2%;
	margin-bottom: 2%;
}

a:hover {
	text-decoration: none;
}
